<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>ShootPoints</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="https://unpkg.com/htmx.org@1.6.1"></script>
	<script src="https://unpkg.com/htmx.org@1.6.1/dist/ext/client-side-templates.js"></script>
	<script src="https://unpkg.com/mustache@latest"></script>
	<script type="text/javascript" src="helpers.js"></script>
	<script type="text/javascript" src="templates.mustache"></script>
	<link rel="stylesheet" href="styles.css">
</head>

<body onload="htmx_render_442(); htmx_reset_form_fields()">
	<!-- The following link is just a convenience for development, and should be removed once all the endpoints are mapped in the front end. -->
	<p><a href="/docs" style="color: white">For the FastAPI interface, click here.</a></p>

	<div id="menuPreloaders" hidden>
		<span hx-get="/site/" hx-trigger="load" hx-target="#deleteSiteFormSitesMenu" hx-swap="innerHTML"
			hx-ext="client-side-templates" mustache-template="sitesmenutemplate" hidden></span>
		<span hx-get="/site/" hx-trigger="load" hx-target="#saveNewStationFormSitesMenu" hx-swap="innerHTML"
			hx-ext="client-side-templates" mustache-template="sitesmenutemplate" hidden></span>
		<span hx-get="/site/" hx-trigger="load" hx-target="#deleteStationFormSitesMenu" hx-swap="innerHTML"
			hx-ext="client-side-templates" mustache-template="sitesmenutemplate" hidden></span>
		<span hx-get="/class/" hx-trigger="load" hx-target="#deleteClassFormClassesMenu" hx-swap="innerHTML"
			hx-ext="client-side-templates" mustache-template="classesmenutemplate" hidden></span>
		<span hx-get="/class/" hx-trigger="load" hx-target="#saveNewSubclassFormClassesMenu" hx-swap="innerHTML"
			hx-ext="client-side-templates" mustache-template="classesmenutemplate" hidden></span>
		<span hx-get="/class/" hx-trigger="load" hx-target="#deleteSubclassFormClassesMenu" hx-swap="innerHTML"
			hx-ext="client-side-templates" mustache-template="classesmenutemplate" hidden></span>
		<span hx-get="/site/" hx-trigger="load" hx-target="#startNewSessionFormSitesMenu" hx-swap="innerHTML"
			hx-ext="client-side-templates" mustache-template="sitesmenutemplate" hidden></span>
	</div>

	<div class="outputbox" id="outputBox" hx-get="/summary/" hx-trigger="load" hx-target="this" hx-swap="innerHTML"
		hx-ext="client-side-templates" mustache-template="setuperrorstemplate"></div>

	<div class="setup">
		<div class="sectionheader" style="background-color: rgb(199, 189, 179);" onclick="collapsesection(this);">
			Setup <span class="collapser">‣</span><span class="expander" hidden>▾</span>
		</div>

		<div class="sectionforms" hidden>
			<form id="setConfigsForm" clearonsuccess>
				<button id="setConfigsFormButton" hx-put="/config/" hx-target="#outputBox" hx-swap="innerHTML"
					hx-ext="client-side-templates" mustache-template="outputtemplate" disabled>
					Set Configs
				</button>
				<label>Port:</label><input type="text" id="setConfigsFormPort" name="port"
					oninput="toggle_button(this);" optional />
				<label>Make:</label><input type="text" id="setConfigsFormMake" name="make"
					oninput="toggle_button(this);" optional />
				<label>Model:</label><input type="text" id="setConfigsFormModel" name="model"
					oninput="toggle_button(this);" optional />
				<label>Limit:</label><input type="text" id="setConfigsFormLimit" name="limit"
					oninput="toggle_button(this);" optional />
			</form>

			<form id="saveNewSiteForm" clearonsuccess>
				<button id="saveNewSiteFormButton" hx-post="/site/" hx-target="#outputBox" hx-swap="innerHTML"
					hx-ext="client-side-templates" mustache-template="outputtemplate" disabled>
					Save New Site
				</button>
				<label>Name:</label>
				<input type="text" id="saveNewSiteFormSiteName" name="name" oninput="toggle_button(this);" required />
				<label>Description:</label>
				<input type="text" id="saveNewSiteFormSiteDescription" name="description" />
			</form>

			<form id="deleteSiteForm" clearonsuccess>
				<button id=" deleteSiteFormButton" hx-delete="/site/"
					hx-confirm="Are you sure you want to delete this site?" hx-target="#outputBox" hx-swap="innerHTML"
					hx-ext="client-side-templates" mustache-template="outputtemplate" disabled>
					Delete Site
				</button>
				<label>Site:</label>
				<select id="deleteSiteFormSitesMenu" name="sites_id"
					onchange="toggle_button(this); update_description(this, 'deleteSiteFormSiteDescription');" required>
				</select>
				<img class="infobutton" id="deleteSiteFormSiteDescription" src="img/info.svg">
			</form>

			<form id="saveNewStationForm" clearonsuccess>
				<button id="saveNewStationFormButton" hx-post="/station/" hx-target="#outputBox" hx-swap="innerHTML"
					hx-ext="client-side-templates" mustache-template="outputtemplate" disabled>
					Save New Station
				</button>
				<!-- saveNewStationFormHiddenField helps saveNewStationCoordinateSystem toggle the button correctly -->
				<input id="saveNewStationFormHiddenField" type="hidden" required />
				<label>Site:</label>
				<select id="saveNewStationFormSitesMenu" name="sites_id"
					onchange="toggle_button(this); update_description(this, 'saveNewStationFormSiteDescription');"
					required>
				</select>
				<img class="infobutton" id="saveNewStationFormSiteDescription" src="img/info.svg">
				<label>Name:</label>
				<input type="text" id="saveNewStationFormName" name="name" oninput="toggle_button(this);" required />
				<label>Description:</label>
				<input type="text" id="saveNewStationDescription" name="description" /><br>
				<label>Coordinate System:</label>
				<select id="saveNewStationCoordinateSystem" name="coordinatesystem"
					onchange="update_required_new_site_fields(this); toggle_button(this);" required>
					<option></option>
					<option value='Site'>Site</option>
					<option value='UTM'>UTM</option>
					<option value='Lat/Lon'>Lat/Lon</option>
				</select><br>
				<label id="saveNewStationNorthingLabel" hidden>Northing:</label>
				<input type="text" id="saveNewStationNorthing" name="northing" oninput="toggle_button(this);" hidden />
				<label id="saveNewStationEastingLabel" hidden>Easting:</label>
				<input type="text" id="saveNewStationEasting" name="easting" oninput="toggle_button(this);" hidden />
				<label id="saveNewStationLatitudeLabel" hidden>Latitude:</label>
				<input type="text" id="saveNewStationLatitude" name="latitude" oninput="toggle_button(this);" hidden />
				<label id="saveNewStationLongitudeLabel" hidden>Longitude:</label>
				<input type="text" id="saveNewStationLongitude" name="longitude" oninput="toggle_button(this);"
					hidden />
				<label id="saveNewStationElevationLabel" hidden>Elevation:</label>
				<input type="text" id="saveNewStationElevation" name="elevation" oninput="toggle_button(this);"
					hidden />
				<label id="saveNewStationUTMZoneLabel" hidden>UTMZone:</label>
				<input type="text" id="saveNewStationUTMZone" name="utmzone" oninput="toggle_button(this);" hidden />

			</form>

			<form id="deleteStationForm" clearonsuccess>
				<button id="deleteStationFormButton" hx-delete="/station/"
					hx-confirm="Are you sure you want to delete this station?" hx-target="#outputBox"
					hx-swap="innerHTML" hx-ext="client-side-templates" mustache-template="outputtemplate" disabled>
					Delete Station
				</button>
				<label>Site:</label>
				<select id="deleteStationFormSitesMenu" name="sites_id"
					onchange="toggle_button(this); update_description(this, 'deleteStationFormSiteDescription');"
					hx-get="/station/" hx-trigger="change" hx-target="#deleteStationFormStationsMenu"
					hx-swap="innerHTML" hx-ext="client-side-templates" mustache-template="stationsmenutemplate"
					required>
				</select>
				<img class="infobutton" id="deleteStationFormSiteDescription" src="img/info.svg">
				<label>Station:</label>
				<select id="deleteStationFormStationsMenu" name="stations_id"
					onchange="toggle_button(this); update_description(this, 'deleteStationFormStationDescription');"
					required>
				</select>
				<img class="infobutton" id="deleteStationFormStationDescription" src="img/info.svg">
			</form>

			<form id="saveNewClassForm" clearonsuccess>
				<button id="saveNewClassFormButton" hx-post="/class/" hx-target="#outputBox" hx-swap="innerHTML"
					hx-ext="client-side-templates" mustache-template="outputtemplate" disabled>
					Save New Class
				</button>
				<label>Name:</label>
				<input type="text" id="saveNewClassFormClassName" name="name" oninput="toggle_button(this);" required />
				<label>Description:</label>
				<input type="text" id="saveNewClassFormClassDescription" name="description" />
			</form>

			<form id="deleteClassForm" clearonsuccess>
				<button id=" deleteClassFormButton" hx-delete="/class/"
					hx-confirm="Are you sure you want to delete this class?" hx-target="#outputBox" hx-swap="innerHTML"
					hx-ext="client-side-templates" mustache-template="outputtemplate" disabled>
					Delete Class
				</button>
				<label>Class:</label>
				<select id="deleteClassFormClassesMenu" name="classes_id"
					onchange="toggle_button(this); update_description(this, 'deleteClassFormClassDescription');"
					required>
				</select>
				<img class="infobutton" id="deleteClassFormClassDescription" src="img/info.svg">
			</form>

			<form id="saveNewSubclassForm" clearonsuccess>
				<button id="saveNewSubclassFormButton" hx-post="/subclass/" hx-target="#outputBox" hx-swap="innerHTML"
					hx-ext="client-side-templates" mustache-template="outputtemplate" disabled>
					Save New Subclass
				</button>
				<label>Class:</label>
				<select id="saveNewSubclassFormClassesMenu" name="classes_id"
					onchange="toggle_button(this); update_description(this, 'saveNewSubclassFormClassDescription');"
					required>
				</select>
				<img class="infobutton" id="saveNewSubclassFormClassDescription" src="img/info.svg">
				<label>Name:</label>
				<input type="text" id="saveNewSubclassFormSubclassName" name="name" oninput="toggle_button(this);"
					required />
				<label>Description:</label>
				<input type="text" id="saveNewSubclassFormSubclassDescription" name="description" />
			</form>

			<form id="deleteSubclassForm" clearonsuccess>
				<button id=" deleteSubclassFormButton" hx-delete="/subclass/"
					hx-confirm="Are you sure you want to delete this subclass?" hx-target="#outputBox"
					hx-swap="innerHTML" hx-ext="client-side-templates" mustache-template="outputtemplate" disabled>
					Delete Subclass
				</button>
				<label>Class:</label>
				<select id="deleteSubclassFormClassesMenu" name="classes_id" hx-get="/subclass/" hx-trigger="change"
					hx-target="#deleteSubclassFormSubclassesMenu" hx-swap="innerHTML" hx-ext="client-side-templates"
					mustache-template="subclassesmenutemplate"
					onchange="toggle_button(this); update_description(this, 'deleteSubclassFormClassDescription');"
					required>
				</select>
				<img class="infobutton" id="deleteSubclassFormClassDescription" src="img/info.svg">
				<label>Subclass:</label>
				<select id="deleteSubclassFormSubclassesMenu" name="subclasses_id"
					onchange="toggle_button(this); update_description(this, 'deleteSubclassFormSubclassDescription');"
					required>
				</select>
				<img class="infobutton" id="deleteSubclassFormSubclassDescription" src="img/info.svg">
			</form>
		</div>
	</div>

	<div class="usage">
		<div class="sectionheader" style=" background-color: rgb(142, 177, 189)" ;" onclick="collapsesection(this);">
			Surveying <span class="collapser" hidden>‣</span><span class="expander">▾</span>
		</div>

		<div class="sectionforms">
			<form id="startNewSessionForm" clearonsuccess>
				<button id="startNewSessionFormButton" hx-post="/session/" hx-target="#outputBox" hx-swap="innerHTML"
					hx-ext="client-side-templates" mustache-template="outputtemplate" disabled>
					Start New Session
				</button>
				<label>Label:</label>
				<input type="text" id="startNewSessionFormLabel" name="label" oninput="toggle_button(this);" required />
				<label>Surveyor:</label>
				<input type="text" id="startNewSessionFormSurveyor" name="surveyor" oninput="toggle_button(this);"
					required />
				<label>Site:</label>
				<select id="startNewSessionFormSitesMenu" name="sites_id"
					onchange="toggle_button(this); update_description(this, 'startNewSessionFormSiteDescription');"
					hx-get="/station/" hx-trigger="change" hx-target="#startNewSessionFormOccupiedPointMenu"
					hx-swap="innerHTML" hx-ext="client-side-templates" mustache-template="stationsmenutemplate"
					required>
				</select>
				<img class="infobutton" id="startNewSessionFormSiteDescription" src="img/info.svg">
				<label>Occupied Point:</label>
				<select id="startNewSessionFormOccupiedPointMenu" name="occupied_point_id" onchange="toggle_button(this); update_description(this, 'startNewSessionFormOccupiedPointDescription');
					update_backsight_station_menu(this);" required>
				</select>
				<img class="infobutton" id="startNewSessionFormOccupiedPointDescription" src="img/info.svg">
				<label>Session Type:</label>
				<select id="startNewSessionFormSessionTypeMenu" name="sessiontype"
					onchange="update_required_new_session_fields(this); toggle_button(this);" required>
					<option></option>
					<option value="Backsight">Backsight</option>
					<option value="Azimuth">Azimuth</option>
				</select><br>
				<label id="startNewSessionFormBacksightStationMenuLabel" hidden>Backsight Station:</label>
				<select id="startNewSessionFormBacksightStationMenu" name="backsight_station_id"
					onchange="toggle_button(this); update_description(this, 'startNewSessionFormBacksightStationDescription');"
					hidden>
				</select>
				<img class="infobutton" id="startNewSessionFormBacksightStationDescription" src="img/info.svg" hidden>
				<label id="startNewSessionFormPrismHeightLabel" hidden>Prism Height:</label>
				<input type="text" id="startNewSessionFormPrismHeight" name="prism_height"
					oninput="toggle_button(this);" hidden />
				<label id="startNewSessionFormInstrumentHeightLabel" hidden>Instrument Height:</label>
				<input type="text" id="startNewSessionFormInstrumentHeight" name="instrument_height"
					oninput="toggle_button(this);" hidden />
				<label id="startNewSessionFormAzimuthLabel" hidden>Azimuth (ddd.mmss):</label>
				<input type="text" id="startNewSessionFormAzimuth" name="azimuth" oninput="toggle_button(this);"
					hidden />
			</form>
		</div>
	</div>
</body>
