body {
	background-color: rgb(56, 50, 46);
}

div {
	width: 100%;
	border-style: solid;
	border-width: 1px;
	border-radius: 8px;
	margin-bottom: 1em;
	float: left;
	clear: both;
}

form {
	width: calc(100% - 2em);
	margin: 0.5em;
	float: left;
	clear: left;
	border: rgba(0, 0, 0, 0.15) thin solid;
	border-radius: 8px;
	padding: 8px;
	background: rgba(255, 255, 255, 0.4);
}

select {
	width: 25ex;
	border: thin lightgrey solid;
}

input {
	margin-right: 1ex;
}

input:invalid,
select:invalid {
	background-color: pink;
}

input:disabled {
	background: silver;
}

input[type=button] {
	background-color: gainsboro;
	color: black;
	font-weight: bold;
	padding: 10px;
}

input[type=button]:disabled {
	color: grey;
}

#liveMapPopup {
	z-index: 10;
	background-color: burlywood;
	position: absolute;
	top: 20ex;
	width: 326px;
	left: 10%;
}

#liveMap {
	width: 300px;
	height: 300px;
	margin: 10px;
	border-style: solid;
	border-color: peru;
	background-color: antiquewhite;
}

#liveMap>.surveyData {
	stroke: blue;
	fill: none;
}

#liveMap>#unsavedShot {
	stroke: none;
	fill: red;
}

#onTheFlyAdjustmentsPopup {
	z-index: 20;
	background-color: silver;
	position: absolute;
	top: 20ex;
	width: 80%;
	left: 10%;
}

#utilitiesPopup {
	z-index: 20;
	background-color: cornsilk;
	position: absolute;
	top: 20ex;
	width: 80%;
	left: 10%;
}

#editAtmosphereAndPrismOffsetsIcon {
	float: left;
	height: 28px;
	filter: invert(100%);
	padding-top: 2px;
	padding-left: 1px;
}

#dateAndTime {
	display: inline-block;
	text-align: right;
}

#showUtilitiesIcon {
	float: right;
	height: 30px;
	filter: invert(100%);
	padding-top: 2px;
	padding-right: 1px;
}

#showLiveMapIcon {
	float: right;
	height: 78px;
	filter: invert(25%);
	padding: 8px;
}

#outputBox {
	width: calc(100% - 1em);
	height: 3em;
	padding: 0.5em;
	background-color: rgb(230, 230, 230);
	overflow: auto;
}

#takeShotFormButton,
#saveLastShotFormButton {
	background-color: mediumseagreen;
}

#cancelShotFormButton,
#discardLastShotFormButton {
	background-color: lightcoral;
}

.info {
	display: flex;
	justify-content: space-between;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: small;
	color: white;
	padding-bottom: 6px;
	padding-left: 6px;
	padding-right: 6px;
}

.currentSurveyingInfo {
	display: inline-block;
	margin: 5px;
	margin-left: 17px;
}

.formcollectionheader {
	width: calc(100% - 1em);
	border-style: none;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	padding: 0.5em;
	margin: 0em;
	text-transform: uppercase;
	font-weight: bold;
	background: rgba(0, 0, 0, 0.27);
}

.formcollection {
	width: calc(100% - 1em);
	border-style: none;
	padding: 0.5em;
	margin: 0em;
}

.setup {
	background-color: linen;
}

.usage {
	background-color: lightblue;
}

.infobutton {
	vertical-align: -0.25em;
	margin-right: 1ex;
}

.clearfield {
	color: red;
	font-weight: bold;
}

.shotdata tr {
	line-height: 1.8ex;
}

.shotdata td {
	padding-right: 1em;
}
