body {
	background-color: rgb(56, 50, 46);
}

div {
	width: 100%;
	border-style: solid;
	border-width: 1px;
	border-radius: 8px;
	margin-bottom: 1em;
	float: left;
	clear: both;
}

form {
	width: calc(100% - 2em);
	margin : 0.5em;
	float: left;
	clear: left;
	border: rgba(0, 0, 0, 0.15) thin solid;
	border-radius: 8px;
	padding: 8px;
	background: rgba(255, 255, 255, 0.4);
}

select {
	width: 25ex;
	border: thin lightgrey solid;
}

input {
	margin-right: 1ex;
}

input:invalid, select:invalid{
	background-color: pink;
}

#onTheFlyAdjustmentsPopup {
	z-index: 10;
	background-color: cornsilk;
	position: absolute;
	top: 20ex;
	width: 50%;
	left: 25%;
}

#editAtmosphereAndPrismOffsets {
	float: left;
	height: 28px;
	filter: invert(100%);
	padding-top: 2px
}

#outputBox {
	width: calc(100% - 1em);
	height: 3em;
	padding: 0.5em;
	background-color: rgb(230, 230, 230);
	overflow: auto;
}

.info {
	display: block;
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: small;
	color: white;
	padding-left: 32px;
	padding-bottom: 1ex;
}

.groupingheader {
	width: calc(100% - 1em);
	border-style: none;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	padding: 0.5em;
	margin: 0em;
	text-transform: uppercase;
	font-weight: bold;
	background: rgba(0, 0, 0, 0.27);
}

.formcollection {
	width: calc(100% - 1em);
	border-style: none;
	padding: 0.5em;
	margin: 0em;
}	

.setup {
	background-color: linen;
}

.usage {
	background-color: lightblue;
}

.infobutton {
	vertical-align: -0.25em;
	margin-right: 1ex;
}

.clearfield {
	color: red;
	font-weight: bold;
	margin-left: 0.5em
}

.shotdata tr {
	line-height: 1.8ex;
}

.shotdata td {
	padding-right: 1em;
}
