.setup {
    background-color: lightblue;
}

.informational {
    background-color: linen;
}

.usage {
    background-color: lightgreen;
}

.adjustments {
    background-color: goldenrod;
}

.utility {
    background-color: darkgrey;
}

.required {
    color: red;
}
