function append_mustache_template(templatename, templatetext) {
    let mustachetemplate = document.createElement("template")
    mustachetemplate.setAttribute("id", templatename)
    mustachetemplate.innerHTML = templatetext
    document.getElementsByTagName('head')[0].appendChild(mustachetemplate);
}

append_mustache_template("atmosphereinfotemplate", `
Atmosphere: {{temperature}}°C, {{pressure}}mmHg
`);

append_mustache_template("prismoffsetstemplate", `
Prism Offsets: {{.}}
`);

append_mustache_template("classesmenutemplate", `
<option></option>
{{#classes}}
<option value="{{id}}" description="{{description}}">{{name}}</option>
{{/classes}}
`);

append_mustache_template("subclassesmenutemplate", `
<option></option>
{{#subclasses}}
<option value="{{id}}" description="{{description}}">{{name}}</option>
{{/subclasses}}
`);

append_mustache_template("sitesmenutemplate", `
<option></option>
{{#sites}}
<option value="{{id}}" description="{{description}}">{{name}}</option>
{{/sites}}
`);

append_mustache_template("stationsmenutemplate", `
<option></option>
{{#stations}}
<option value="{{id}}" description="{{description}}">{{name}}</option>
{{/stations}}
`);

append_mustache_template("geometriesmenutemplate", `
<option></option>
{{#geometries}}
<option value="{{id}}" description="{{description}}">{{name}}</option>
{{/geometries}}
`);

append_mustache_template("setuperrorstemplate", `
{{#setup_errors}}
<b style="color: red;">ERROR:</b> {{.}}
{{/setup_errors}}
`);

append_mustache_template("outputtemplate", `
{{#errors}}
<b style="color: red;">ERROR:</b> {{.}}<br>
{{/errors}}
{{#result}}
{{.}}<br>
{{/result}}
`);

append_mustache_template("shotdatatemplate", `
{{#errors}}
<b style="color: red;">ERROR:</b> {{.}}<br>
{{/errors}}
{{#result}}
<table class="shotdata">
<tr><td>delta_n = {{delta_n}}</td><td>calculated_n = {{calculated_n}}</td></tr>
<tr><td>delta_e = {{delta_e}}</td><td>calculated_e = {{calculated_e}}</td></tr>
<tr><td>delta_z = {{delta_z}}</td><td>calculated_z = {{calculated_z}}</td></tr>
</table>
{{/result}}
`);
